.messages {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
    height: 83vh;
    background-color: #ffffff;
}

/* @media only screen and (max-width: 650px) {
    .messages {
        height: 79vh;
    }
} */