.form {
    display: flex;
    height: 7vh;
    border-top: 1px solid darkgray;
}
  
.input {
    border: none;
    border-radius: 0;
    padding-left: 5%;
    width: 80%;
    font-size: 1rem;
}

.input::placeholder {
    color: #660066;
    font-style: italic;
}
  
input:focus, textarea:focus, select:focus{
    outline: none;
}
  
.sendButton {
    color: #add8e6;
    text-transform: uppercase;
    text-decoration: none;
    /* background: linear-gradient(to left, #aa076b, #800080); */
    background: linear-gradient(to right, #ad5389, #3c1053);
    display: inline-block;
    border: none;
    width: 20%;
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    .form {
        height: 6vh;
    }
}