.sign-up-div {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
    /* background: linear-gradient(to left, #aa076b, #800080); */
    background: linear-gradient(to right, #ad5389, #3c1053);
    overflow: scroll;
}

.alert {
    background: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.alert.showAlert{
    opacity: 1;
    pointer-events: auto;
}

.alert.show{
    transform: translateX(0);
}

.alert.hide{
    transform: translateX(-100%);
}

.alert .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}

.alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}

.alert .close-btn:hover{
    background: #ffc766;
}

.alert .close-btn .fas{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

.no-nick {
    width: 80%;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    position: absolute;
    top: 5.5rem;
    padding: 20px;
    color: white;
}

.no-nick .fas {
    cursor: pointer;
}

.hidden {
    display: none;
}

.nickAlert {
    display: flex;
}
    
.label {
    color: #f4a460;
    font-style: italic;
    font-weight: bold;
}
.sign-up-div-inner {
    width: 80%;
}

.nickname-input {
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    width: 100%;
}

.heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 3rem;
}

.sign-in {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    background: linear-gradient(to right, #41295a, #800080);

}

@media screen and (min-width: 850px) {
    .sign-up-div-inner {
        width: 40%;
    }
}

@media (min-width: 650px) and (max-width: 850px) {
    .sign-up-div-inner {
        width: 45%;
    }
}

button:focus {
    outline: 0;
} 
