.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: linear-gradient(to left, #aa076b, #800080); */
    background: linear-gradient(to right, #ad5389, #3c1053);
    border-radius: 4px 4px 0 0;
    height: 10vh;
    width: 100%;
}

.typing {
    font-style: italic;
}
  
.leftInnerContainer {
    flex: 0.5;
    display: flex;
    align-items: center;
    color: #add8e6;
}
  
.onlineIcon {
    margin-right: 5%;
}

@media screen and (max-width: 650px) {
    .infoBar .sign-out {
        display: none;
    }

    .leftInnerContainer {
        margin-left: 7%;
    }

    .infoBar {
        justify-content: initial;
    }

}

@media screen and (min-width: 650px) {
    .infoBar .sign-out {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
        text-decoration: none;
    }

    .infoBar .sign-out span {
        color: #add8e6;
    }

}

/* @media only screen and (max-width: 650px) {
    .infoBar {
        height: fit-content;
        padding: 20px 0;
    }
} */